@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles (add component-specific styles below) */
:root {
	--bg: transparent;
}

html, body, #root {
	height: 100%;
}

body {
	background-color: var(--bg);
}

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply font-sans bg-zinc-50 text-zinc-900;
  }
}

@layer components {
  .ucs-gradient-text {
    @apply bg-gradient-to-r from-amber-400 to-amber-500 bg-clip-text text-transparent;
  }
}
